<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% block body_block %}
{% load staticfiles %}
<link rel="stylesheet" href="{%static "css/data.css" %}">
  {% if user %}
  <table>
    <thead>
      <th>USER NAME</th>
      <th>EMAIL</th>
    </thead>
    <tbody>
      {% for u in user %}
      <tr>
        <td>{{ u.first_name }} {{ u.last_name }}</td>
        <td>{{ u.email }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h1>no user data</h1>
  {% endif %}
{% endblock %}
